<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ListaTylor"
            android:exported="false" />
        <activity
            android:name=".ListaSeriesPotencias"
            android:exported="false" />
        <activity
            android:name=".ListaUnidad4"
            android:exported="false" />
        <activity
            android:name=".ActividadSeries"
            android:exported="false" />
        <activity
            android:name=".ActividadSucesiones"
            android:exported="false" />
        <activity
            android:name=".ListaAlternantes"
            android:exported="false" />
        <activity
            android:name=".ListaConvergencia"
            android:exported="false" />
        <activity
            android:name=".ListaSeries"
            android:exported="false" />
        <activity
            android:name=".ListaSucesiones"
            android:exported="false" />
        <activity
            android:name=".ListaUnidad3"
            android:exported="false" />
        <activity
            android:name=".ActIndeterminadas"
            android:exported="false" />
        <activity
            android:name=".ActInpropias"
            android:exported="false" />
        <activity
            android:name=".ListaInpropias"
            android:exported="false" />
        <activity
            android:name=".ListaIndeterminadas"
            android:exported="false" />
        <activity
            android:name=".ListaUnidad2"
            android:exported="false" />
        <activity
            android:name=".ActNumerica"
            android:exported="false" />
        <activity
            android:name=".ActAplicacion"
            android:exported="false" />
        <activity
            android:name=".Aplicacion_Integral"
            android:exported="false" />
        <activity
            android:name=".Integracion_Numerica"
            android:exported="false" />
        <activity
            android:name=".Integral_Definida"
            android:exported="false" />
        <activity
            android:name=".AreaBajolaCurva"
            android:exported="false" />
        <activity
            android:name=".ListaUnidad1"
            android:exported="false" />
        <activity
            android:name=".ListasActividadesU1"
            android:exported="false" />

        <activity
            android:name=".CalculatorUnit2ReglaLHopital"
            android:exported="false" />
        <activity
            android:name=".CalculatorUnit2"
            android:exported="false" />
        <activity
            android:name=".CalculatorUnit1IntegralDef"
            android:exported="false" />
        <activity
            android:name=".CalculatorUnit1IntegralIndef"
            android:exported="false" />
        <activity
            android:name=".Unit4.Activity422"
            android:exported="false" />
        <activity
            android:name=".Unit4.Activity421"
            android:exported="false" />
        <activity
            android:name=".Unit4.Activity412"
            android:exported="false" />
        <activity
            android:name=".Unit4.Activity411"
            android:exported="false" />
        <activity
            android:name=".Unit3.Four.Activity344"
            android:exported="false" />
        <activity
            android:name=".Unit3.Four.Activity343"
            android:exported="false" />
        <activity
            android:name=".Unit3.Four.Activity342"
            android:exported="false" />
        <activity
            android:name=".Unit3.Four.Activity341"
            android:exported="false" />
        <activity
            android:name=".Unit3.Three.Activity337"
            android:exported="false" />
        <activity
            android:name=".Unit3.Three.Activity336"
            android:exported="false" />
        <activity
            android:name=".Unit3.Three.Activity335"
            android:exported="false" />
        <activity
            android:name=".Unit3.Three.Activity334"
            android:exported="false" />
        <activity
            android:name=".Unit3.Three.Activity333"
            android:exported="false" />
        <activity
            android:name=".Unit3.Three.Activity332"
            android:exported="false" />
        <activity
            android:name=".Unit3.Three.Activity331"
            android:exported="false" />
        <activity
            android:name=".Unit3.Two.Activity324"
            android:exported="false" />
        <activity
            android:name=".Unit3.Two.Activity323"
            android:exported="false" />
        <activity
            android:name=".Unit3.Two.Activity322"
            android:exported="false" />
        <activity
            android:name=".Unit3.Two.Activity321"
            android:exported="false" />
        <activity
            android:name=".Unit3.One.Activity315"
            android:exported="false" />
        <activity
            android:name=".Unit3.One.Activity314"
            android:exported="false" />
        <activity
            android:name=".Unit3.One.Activity313"
            android:exported="false" />
        <activity
            android:name=".Unit3.One.Activity_312"
            android:exported="false" />
        <activity
            android:name=".Unit3.One.Activity_311"
            android:exported="false" />
        <activity
            android:name=".Activity_223"
            android:exported="false" />
        <activity
            android:name=".Activity_222"
            android:exported="false" />
        <activity
            android:name=".Activity_221"
            android:exported="false" />
        <activity
            android:name=".Activity_215"
            android:exported="false" />
        <activity
            android:name=".Activity_214"
            android:exported="false" />
        <activity
            android:name=".Activity_213"
            android:exported="false" />
        <activity
            android:name=".Activity_212"
            android:exported="false" />
        <activity
            android:name=".Activity_211"
            android:exported="false" />

        <activity
            android:name=".calculatorUnit1"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity_111"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity145"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity_144"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity143"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity142"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity_141"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity_133"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity_131"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity_123"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity_122"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity_121"
            android:exported="false" />
        <activity
            android:name=".Unit1.Activity_112"
            android:exported="false" />
        <activity
            android:name=".Unit4Activity"
            android:exported="false" />
        <activity
            android:name=".Unit3Activity"
            android:exported="false" />
        <activity
            android:name=".Unit2Activity"
            android:exported="false" />
        <activity
            android:name=".Unit1Activity"
            android:exported="false" />
        <activity
            android:name=".OrganizationActivity"
            android:exported="false" />
        <activity
            android:name=".IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".CreditsActivity"
            android:exported="false" />
        <activity
            android:name=".UnitsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>